
tr {
  padding: 0 40px;
}

th {
  padding: 0 40px;
}
tbody {
  margin: 5px;
}


div.btn-agregar > a {
  background: linear-gradient(to right, #660cc0, #0b316b);
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid #0b316b;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: linear-gradient(to right, #660cc0, #0b316b);
}
