<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <!-- <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> -->
  <p class="text-center mt-3">Listado de alumnos!</p>
<div class="btn-agregar">
  <a type="button" class="btn btn-primary" routerLink="/agregar-alumno">Agregar</a>
</div>
<div class="container-fluid mt-5">
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido Paterno</th>
        <th>Apellido Materno</th>
        <th>Telefono 1</th>
        <th>Telefono 2</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let alumno of alumnos; let id=index">
        <td>{{ alumno.id_alumno }}</td>
        <td>{{ alumno.nombre_alumno }}</td>
        <td>{{ alumno.apeliido_p }}</td>
        <td>{{ alumno.apellido_m }}</td>
        <td>{{ alumno.telefono_1 }}</td>
        <td>{{ alumno.telefono_2 }}</td>
        <td>
          <a href=""><i class="bi bi-pencil"></i></a>
        </td>
        <td>
          <a type="button" (click)="eliminarAlumno(alumno.id_alumno)"><i class="bi bi-trash"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</main>