<header class="navbar navbar-dark sticky-top bg-dark flex-md-wrap shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-capitalize" >casa de cultura</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- <input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="Search" aria-label="Search"> -->
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <a type="button" class="nav-link px-3" (click)="cerrarSesion()" >Sign out</a>
    </div>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3 text-capitalize">
        <ul class="nav flex-column">
          <li>hola {{ name.split(' ')[0] }}</li>
          <!-- <li>Rol {{ rol }}</li> -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page">
              <span data-feather="home" class="align-text-bottom"></span>
              inicio
            </a>
          </li>
          <!-- Solo los que tienen rol == 1 lo pueden ver -->
          <ng-container *ngIf="rol == 1">
          <li class="nav-item">
            <a class="nav-link" routerLink="/roles">
              <span data-feather="file" class="align-text-bottom"></span>
              roles
            </a>
          </li>
          </ng-container>
          <ng-container *ngIf="rol == 1">
            <li class="nav-item">
              <a class="nav-link">
                <span data-feather="shopping-cart" class="align-text-bottom"></span>
                usuarios
              </a>
            </li>
        </ng-container>
          <li class="nav-item">
            <a class="nav-link" routerLink="/alumnos">
              <span data-feather="users" class="align-text-bottom"></span>
              alumnos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <span data-feather="bar-chart-2" class="align-text-bottom"></span>
              cursos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cursos-alumnos">
              <span data-feather="layers" class="align-text-bottom"></span>
              cursos alumnos
            </a>
          </li>
        </ul>
      </div>
    </nav>
      <!-- <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
    </main> -->
  </div>
</div>