<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <h4 class="text-center mt-3">Inscripción</h4>
  <p class="text-center mt-5">Selecciona un curso</p>  
  <!-- Container -->
  <div class="container mb-5 col-md-12 d-flex justify-content-center align-items-center">
    <!-- Seccion para Cursos -->
      <table class="table table-striped text-center text-capitalize">
        <thead>
          <tr>
            <th>Curso</th>
            <th>Selecciona el curso</th>
          </tr>
        </thead>
        <tbody class="text-capitalize">
          <tr *ngFor="let curso of cursos let id=index">
            <td>{{ curso.nombre_curso }}</td>
            <td>
              <input type="checkbox" (click)="getCursoID(curso.id_curso)">
            </td>
          </tr>
        </tbody>
      </table>
      <!-- .Fin Seccion para Cursos -->
  </div>
  <!-- Fin container -->
  <!-- Seccion para Alumnos -->
    <div class="container col-md-12 d-flex justify-content-center align-items-center">
      <div class="mt-3 row d-flex justify-content-center align-items-center">
        <p class="text-center mb-5">Busca un alumno para el curso</p>
        <!-- Table para alumnos -->
        <table class="table table-striped text-center text-capitalize">
          <thead>
            <tr>
              <th>nombre</th>
              <th>apellido paterno</th>
              <th>apellido materno</th>
              <th>selecciona un alumno</th>
            </tr>
          </thead>
          <tbody class="text-capitalize">
            <tr *ngFor="let alumno of alumnos let id=index">
              <td>{{ alumno.nombre_alumno }}</td>
              <td>{{ alumno.apellido_p }}</td>
              <td>{{ alumno.apellido_m }}</td>
              <td>
                <input type="checkbox" (click)="getAlumnoID(alumno.id_alumno)">
              </td>
            </tr>
          </tbody>
        </table>
        <!-- Fin Table para alumnos -->
      </div>
    </div>
  <!-- Fin Seccion para Alumnos -->

  <!-- Formulario con datos IDS -->
    <div class="container col-md-12 mb-5 mt-5 text-capitalize">
      <div class="mt-3 row d-flex justify-content-center align-items-center">
        <p class="text-center mb-5">Cursos alumnos</p>
     <!-- Reactive form -->
  <form [formGroup]="formID">
    <div class="form-group">
      <label class="form-label">ID Alumno</label>
      <input class="form-control" type="text" formControlName="id_alumno">
    </div>
    <div class="form-group">
      <label class="form-label">ID Curso</label>
      <input class="form-control" type="text" formControlName="id_curso">
    </div>
  </form>
  <!-- .Reactive form -->
      </div>
    </div>
  <!-- Fin Formulario con los IDS -->

  <!-- Formulario con datos Datos -->
  <div class="container col-md-12 mb-5 mt-5 text-capitalize">
    <div class="mt-3 row d-flex justify-content-center align-items-center">
      <p class="text-center mb-5">Cursos alumnos</p>
   <!-- Reactive form -->
<form [formGroup]="formAlumCurso" (ngSubmit)="agregarAlumnoCursos()">
  <div class="form-group">
    <label class="form-label">Nombre</label>
    <input class="form-control" type="text" formControlName="nombre_alumno">
  </div>
  <div class="form-group">
    <label class="form-label">Apellido Paterno</label>
    <input class="form-control" type="text" formControlName="apellido_p">
  </div>
  <div class="form-group">
    <label class="form-label">Apellido Materno</label>
    <input class="form-control" type="text" formControlName="apellido_m">
  </div>
  <div class="form-group">
    <label class="form-label">Curso</label>
    <input class="form-control" type="text" formControlName="nombre_curso">
  </div>
  <div>
    <button type="submit" class="btn btn-primary mt-4" [disabled]="formID.invalid">Agregar</button>
  </div>
</form>
<!-- .Reactive form -->
    </div>
  </div>
<!-- Fin Formulario con los Datos -->
</main>